@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.root {
    display: block;
    opacity: 1;
}

.image {
    border-radius: 10px;
}

.card {
    border-top-left-radius: 20px;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px;
    padding: 16px;
    box-shadow: 0 0 #FFC09A;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    gap: 0px;
    align-content: start;
    transition: 200ms;


    &:hover {
        box-shadow: 10px 10px rgb(255, 192, 154);
            margin: -15px 0px 0px;

        transition: 500ms;
    }

    max-width:320px;
    min-width:250px;
}

.card-title {
    line-height: 1.2;
    font-weight: 700;
    font-size: 20px;
    margin: 8px 0px 0px;
    font-family: "Playfair Display", serif;
}

.card-description {
    margin: 8px 0px 16px;
}

.card-texts {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start;
    align-items: start;
    gap: 0px;
}

.card-btn {
    background-color: #F6AC49;
    border-radius: 60px;
    color: #333333;
    width: fit-content;
    transition: 500ms;


    &:hover {
        background-color: rgb(246, 172, 73, 0);
        border: 2px solid #FF9B23;
    }

    border:2px solid transparent;



}